@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: var(--InterFont);
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--MontFont);
  font-weight: 600;
}

.top-filled{
  height: 130px;
}

main{
  width: 90%;
  margin: auto;
}

.info-map{
  display: flex;
  margin-bottom: 20px;

  div{
      width: 50%;

      a{
        color: var(--color-black);
      }
  }
  iframe{
      border: none;
      border-radius: var(--border-rad);
      width: 90%;
  }
  
}

.empty-product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px;
    min-height: 90vh;
  }

  .advantages-section{
    display: flex;
    flex-wrap: wrap;
    gap:16px;

    div{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--color-gray-light);
        border-radius: var(--border-rad);
        padding: 10px;

        img{
            width:60px;
        }

        span{
            width: 150px;
            text-align: center;
        }
    }
}