:root {
    --color-transp:rgba(0, 0, 0, 0.12);
    --shadow1:0px 5px 13.4px var(--color-transp);
  
    --color-white: #ffffff;
    --color-gray-light: #F4F6F7;
    --color-gray-light2: #ccc;
    --color-gray-mint: #D8F7F5;
    --color-gray: #5F6F73;
    --color-teal:#00A8A8;
    --color-green:#3E8E41;
    --color-green-hover:#2a722c;
    --color-orange:#E57128;
    --color-orange-hover:#c05716;
    --color-black: #000000;
  
    --color-primary: #b0254a;
    --color-primary-dark: #921e31;
    --color-success: #01bd78;
    --color-error: #d40019;



    --border-rad:16px;
    --border-radmin:8px;


    --InterFont:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --MontFont:'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }